/*
 * 	  HW2 : My Gallary
 * Author : yuanzm
 * 	 Last-edit-date ： 2014-11-07  
 */

/*CSS reset*/
* {
	margin: 0;
	padding: 0;
}
/*common style*/
html,body {
	width: 100%;
	height: 100%;
}
body {
	font-size: 1.4em;
	line-height: 1.4;
	font-family:"Microsoft YaHei",Verdana,sans-serif;
	font-style: normal;
	height: 100%;
	background: url(../images/zoom-bg-1.jpg) repeat-y 0px;
}
a {
	text-decoration: none;
	color: #fff;
}

#wrapper {
	width: 1024px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	height: 100%; /*IE6不识别min-height*/
	position: relative;
}
/*header style*/
#header {
	width: 100%;
	text-align: center;
}
#header h1 {
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	font-weight: 500;
}

.green {
	color: green;
	margin-right: 10px;
}
#nav ul{
	width: 50%;
	margin: 0 auto;
	color: #fff;
	margin-top: 20px;
}
#nav li {
	display: block;
	float: left;
	width: 33.3%;
}

/*main style*/
#main {
	width:100%;
	padding-bottom: 70px;
}
#picture {
	width: 100%;
	overflow: hidden;
}


#picture .flip-container {
	width: 240px;
	height: 150px;

	float: left;
	margin-left: 10px;
	margin-top: 30px;
	perspective: 1000;
	-webkit-perspective: 1000;

}
.flip-container:hover .flipper {
	-ms-transform: rotateY(180deg);	/* IE 9 */
	-webkit-transform: rotateY(180deg);	/* Chrome, Safari, Opera */
	transform: rotateY(180deg);
}
.flipper {
	width: 100%;
	height: 100%;

	position: relative;
	transition: 0.6s;
	-webkit-transition:0.6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.flipper .picture {
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}
.flipper .front {
	z-index: 2;
}
.flipper .back {
	-ms-transform: rotateY(180deg);	/* IE 9 */
	-webkit-transform: rotateY(180deg);	/* Chrome, Safari, Opera */
	transform: rotateY(180deg);
}
.flipper img {
	width: 100%;
	height: 100%;
}

/*footer style*/
#footer {
	width: 100%;
	height: 70px;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0;
	clear: both;
}
#footer p {
	line-height: 70px;
}
#footer a {
	color: green;
}
#footer a:hover {
	text-decoration: underline;
}

/*responsive style*/
@media screen and (min-width: 550px) and (max-width: 979px) {
	#wrapper {
		width: 80%;
	}
	#picture {
		width: 70%;
		overflow: hidden;
		margin: 0 auto;
	}
	#picture .flip-container {
		width: 47.5%;
		margin-left: 2.5%;
	}
}

@media screen and (max-width: 550px) {
	#wrapper {
		width: 90%;
	}
	#picture {
		width: 80%;
		margin: 0 auto;
		overflow: hidden;
	}
	#picture .flip-container {
		width: 100%;
	}
	#nav {
		display: none;
	}
}
