/*
 * Copyright by MIAC
 * HW1 : My Gallary
 * Author : K7
 * Date : 2014/10/29  
 */

/*CSS reset*/
* {
	margin: 0;
	padding: 0;
}
/*common style*/
html,body {
	width: 100%;
	min-height: 100%;
}
body {background-image: url('../images/zoom-bg-1.jpg');
      background-repeat:no-repeat;
      
	/*Todo1*/

	line-height: 1.4;
	min-height: auto;

	/*Todo2*/font-family: 'Microsoft YaHei',Verdana,sans-serif;
	         font-style: normal;
	         font-size: 1.4em;

	padding-top: 20px;
}
a {
	text-decoration: none;
	color: #fff;
}

#wrapper {
	width: 1024px;
	margin: 0 auto;
}
/*header style*/
#header {
	width: 100%;
	text-align: center;

	/*Todo3*/

}
#header h1 {
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	font-weight: 500;
}

/*Todo4*/span.green {color: green;
                     margin-right: 10px;}                     

#nav ul{
	width: 50%;
	margin: 0 auto;
	color: #fff;
	margin-top: 20px;
}
#nav li {
	display: block;
	float: left;
	width: 33.3%;
}

/*main style*/

/*Todo5*/#main {width: 100%;
                height: 500px;
                margin-top: 100px;}

#main img {

	/*Todo6*/height: 150px;
	         width: 240px;


	float: left;
	margin-left: 10px;
	margin-top: 30px;

}

#main-content{  
   padding-bottom: 60px;  
}  

#footer {

	/*Todo7*/height: 60px;
	         width: 100%;
        
	color: #fff;
	text-align: center;

	/*Todo8*/position: absolute;
	         bottom: 0;
	

}
#footer a {
	color: green;
}
#footer a:hover {
	text-decoration: underline;
}
@media only screen and (min-width:551px) and (max-width:979px) {
	html {overflow-x: hidden;}
	#main {
		width: 50%;
		height: 100%;
		padding-top: 80px;
		padding-bottom: 100px;
		text-align: center;
	}
	body{
		text-align: center;
	}
	#header {width: 50%;
	text-align: center;
}
}
@media only screen and (max-width: 550px) {
	html {overflow-x: hidden;}
	#header {width: 30%;
	text-align: center;
} 
body {background-repeat: repeat-y;}
#main {
		width: 20%;
		text-align: center;
	}
    #main img {
               text-align: center;
               width: 100%;
               height: 25%;
		       text-align: center;
		       margin-left: 20%;
}
#nav{display: none;}

}