.hide {
	display: none;
}

#photo-back {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
#photo {
	border: solid 5px #000;
	width: 500px;
	height: 300px;
	position: fixed;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -150px;
	background-color: red;
	z-index: 101;
	/*position: relative;*/
}
#photo img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#show-div {
	width:400px;
	height: 150px;
	text-align: center;
	z-index: 102;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -200px;
}

#box {
	width: 350px;
	margin: 0 auto;
	height: 75px;
	border-radius: 20px;
	margin-top: 20px;
	background: url(../images/toolbar-back-nologo.png);
	opacity: 0.7;
	overflow: hidden;
}
.icon {
	width:35px;
	height: 45px;
	background-image: url(../images/toolbar.png);
	cursor: pointer;
	border-radius: 20px;
	margin-right: 10px;
	margin-top: 15px;
	float: left;
}
.button-set {
	width: 280px;
	margin: 0 auto;
	overflow: hidden;
}
#first {
	background-position: 420px 0;
}
#preview {
	background-position: 369px 0;
}
#start {
	width: 45px;
	height: 44px;
	background-position: 321px 0;
}
#start.stop {
	background-image: url(../images/stop.png);
	background-position: -3px -2px;
}
#next {
	background-position: 262px 0;
}
#last {
	background-position: 211px 0;
}
#close-button {
	background-position: 455px 0;
}

