/*
 * Hw3 : JavaScript-Basic
 * Author : yuanzm
 * Last-edit-date : 2014/11/22  
 */

/*show-div style*/
#show-div {
	width: 100%;
	height: 150px;
	text-align: center;
}
#show {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	outline: none;
}
#box {
	display: none;
	width: 440px;
	height: 75px;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 20px;
	background: url(../images/toolbar-back-nologo.png);
	opacity: 0.7;
	overflow: hidden;
}
.icon {
	width:35px;
	height: 45px;
	background-image: url(../images/toolbar.png);
	cursor: pointer;
	border-radius: 20px;
	margin-right: 10px;
}
#load-content {
	background-position: 262px 0;
	float: left;
}
#close-button {
	background-position: 455px 0;
	float: right;
}